/* Logo SLider */



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    margin-top: 60px;
    margin-bottom: -15px;
    overflow: hidden;
    padding: 40px 0;
    background: white;

    /* image ko niche nahi lane deta hai sra inm single llin */
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 60px;
    margin: 0 40px;
}



@media(max-width:400px) {
    .logos-slide img {
        height: 40px;
        margin: 0 20px;
    }

    .logos:before {
        left:0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }

    .logos:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }

    
.logos {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: -15px;
    overflow: hidden;
    padding: 40px 0;
    background: white;

    /* image ko niche nahi lane deta hai sra inm single llin */
    white-space: nowrap;
    position: relative;
}
   


}